/* style-sheet.css */
.body-container {
  font-family: "Roboto", "Mukta";
  /* background-color: #f3c05b; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0;
}

.container-card {
  padding: 23px;
  border-radius: 15px;
  background-color: #fff;
  width: 28vw;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1), 8px 8px 12px rgba(0, 0, 0, 0.9);
}

.image-photo-head {
  height: 24.5vw;
  border-radius: 150px;
}

.profile-image {
  border-radius: 50%;
  height: 3vw;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  margin: 15px 0;
}

.text-title {
  font-size: 17px;
  font-weight: 550;
  height: 34px;
  padding: 5px;
  border-radius: 5px;
}

h3 {
  font-size: 25px;
  margin: -2px 0;
}

.description-text {
  line-height: 1.8;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5px;
}

footer > span {
  font-weight: 700;
  margin-left: 15px;
}

.container-span-header {
  display: flex;
  justify-content: space-around;
}